**/.classpath
**/.project
**/.springBeans


.metadata/
.recommenders/
**/.idea/
**/.git/
**/.gradle/
**/.settings/
**/bin/
**/build/
**/captures/
**/gradle/
**/log*/
**/target/


**/nbproject/
**/nbbuild/
**/.nb-gradle/


Server*/
RemoteSystemsTempFiles/

